[submodule "cancellable-task"]
	path = docs/cancellable-task
	url = https://github.com/NthPortal/docs.cancellable-task
	branch = master
[submodule "docs/future-queue"]
	path = docs/future-queue
	url = https://github.com/NthPortal/docs.future-queue
[submodule "docs/versions"]
	path = docs/versions
	url = https://github.com/NthPortal/docs.versions
[submodule "docs/app-shell"]
	path = docs/app-shell
	url = https://github.com/NthPortal/docs.app-shell
[submodule "docs/extra-predef"]
	path = docs/extra-predef
	url = https://github.com/NthPortal/docs.extra-predef
[submodule "editor"]
	path = editor
	url = https://github.com/NthPortal/html-text-editor.git
