[submodule "docs/cancellable-task"]
	path = docs/scala/cancellable-task
	url = https://github.com/NthPortal/docs.cancellable-task
[submodule "docs/future-queue"]
	path = docs/scala/future-queue
	url = https://github.com/NthPortal/docs.future-queue
[submodule "docs/versions"]
	path = docs/scala/versions
	url = https://github.com/NthPortal/docs.versions
[submodule "docs/app-shell"]
	path = docs/scala/app-shell
	url = https://github.com/NthPortal/docs.app-shell
[submodule "docs/extra-predef"]
	path = docs/scala/extra-predef
	url = https://github.com/NthPortal/docs.extra-predef
[submodule "editor"]
	path = editor
	url = https://github.com/NthPortal/html-text-editor.git
[submodule "paste"]
	path = paste
	url = https://github.com/NthPortal/compressed-text-editor.git
[submodule "docs/cons-list-rs"]
	path = docs/rust/nth-cons-list
	url = https://github.com/NthPortal/docs.cons-list-rs
